.card__2--columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.movies2__card > img {
  height: 15rem;
  border-radius: 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__movie-genre, .genre-container > span {
  background-color: rgb(198, 219, 227);
  color: rgba(0, 187, 255, 0.728);
  border-radius: 1rem;
  padding: 0.4rem 1rem;
}

