html,
body,
input,
textarea {
  color: light-dark(var(--color-dark), var(--color-light));
  background-color: light-dark(var(--color-light), var(--color-dark));
}

[data-dark="true"] {
  color-scheme: dark;
}
[data-dark="false"] {
  color-scheme: light;
}

/* Toggle-switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: auto;
}

/* Skjuler standard-checkbox */
.switch input {
  display: none;
}

/* Slider-stil */
.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 25px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 4px;
  bottom: 3.5px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* Aktiveret tilstand */
input:checked + .slider {
  background: #2196F3;
}

input:checked + .slider::before {
  transform: translateX(15px);
}

.switch-container{
  top: 1.5rem;
  right: 1.5rem;
}

.switch-container button{
  border: none;
  color: white;
  cursor: pointer;
}